.fatherListServiziClass{
    position: relative;
    width: 30%;
    background-color: #e56666;
}

.fatherListServiziClass .fatherLiClass{
color: white;
background-color: black;
}
.iconArrow{
    display: none;
}

@media (max-width:700px){
    .iconArrow{
        display: block;
        position: relative;
        top: 50%;
        left: 95%;
    }
}
    @media (min-width:800px){
        .fatherListServiziClass{
            width: 235px;
        }
    
}

